:root {
    --color: green;
    --input-border-color: var(--color);
    --button-background: #4d484843;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    margin: 0;
}

.signup {
    background: transparent;
    width: 400px;
    padding: 40px;
}

.signup h2 {
    margin: 0 0 30px;
    color: var(--color);
}

.signup .user {
    position: relative;
}

.signup .user input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: var(--color);
    margin-bottom: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid var(--input-border-color);
}

.signup form button {
    padding: 8px 20px;
    border: none;
    letter-spacing: 4px;
    color: var(--color);
    background: var(--button-background);
    font-size: 20px;
    transition: background 0.5s;
}

.signup form button:hover {
    background: #245539;
}
