* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

:root {
    --color: rgb(8, 125, 22);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
}

.login {
    background: transparent;
    width: 401px;
    padding: 40px;
}

.login h2 {
    margin: 0 0 30px;
    color: var(--color);
}

.login .user input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: var(--color);
    margin-bottom: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.login form button {
    padding: 8px 20px;
    border: none;
    letter-spacing: 4px;
    color: var(--color);
    background: #4d484843;
    font-size: 20px;
    transition: background 0.5s;
}

.login form button:hover {
    background: #245539;
}
